###### Redes permitidas - Início
- name: 'Lê arquivo csv com as redes permitidas'
  set_fact:
    tasks_cups_csv_file_content: "{{ lookup('file', tasks_cups_networks_csv) }}"

- name: 'Constrói o array template_cups_allowed_networks a partir de um csv'
  set_fact:
    tasks_cups_template_cups_allowed_networks: "{{ tasks_cups_csv_file_content.split('\n') }}"
###### Redes permitidas - Fim

- import_tasks: partials/raw_printers.yml

- name:
  include_role:
    name: HP41.cups
  vars:
    cups_cupsd_conf_template: "cupsd.conf.j2"
    cups_expect_pkgs: 
      - expect
    cups_ricoh_openprinting_ppds: False
    cups_purge_all_printers_and_classes: True
    cups_packages_to_install:
      - cups
      - cups-pdf
      - foomatic-db-engine
      - printer-driver-all
      - hp-ppd
      - openprinting-ppds

- import_tasks: partials/ipp_printers.yml

- name: org.cups.cupsd.socket.d
  file:
    path: /etc/systemd/system/org.cups.cupsd.socket.d/
    recurse: yes
    state: directory

- name: copy socket
  template:
    src: cups/override.conf
    dest: /etc/systemd/system/org.cups.cupsd.socket.d/override.conf

- name: change root password
  user:
    name: root
    update_password: always
    password: "{{ tasks_cups_root_password }}"

- name: copy unpause_printers
  template:
    src: cups/unpause_printers.sh.j2
    dest: "/root/unpause_printers.sh"
    owner: root
    group: root
    mode: 0700

- name: Run unpause_printers
  cron:
    name: "Unpause Printers"
    minute: "*/1"
    job: "bash /root/unpause_printers.sh"

- name: Restart service
  service:
    name: cups
    state: restarted
