<?php
define("DB_NAME", "{{ tasks_ocsinventoryserver_db_name }}");
define("SERVER_READ", "{{ tasks_ocsinventoryserver_db_host }}");
define("SERVER_WRITE", "{{ tasks_ocsinventoryserver_db_host }}");
define("SERVER_PORT", "{{ tasks_ocsinventoryserver_db_port }}");
define("COMPTE_BASE", "{{ tasks_ocsinventoryserver_db_user }}");
define("PSWD_BASE", "{{ tasks_ocsinventoryserver_db_password }}");
define("ENABLE_SSL", "");
define("SSL_MODE", "");
define("SSL_KEY", "");
define("SSL_CERT", "");
define("CA_CERT", "");
?>