#!/bin/bash

body=''

### Report Laravel ###
where="/var/syslog/hosts/{{ tasks_rsyslog_ip_laravel }}/phpserver/$(date +%Y)/$(date +%m)/$(date +%d)/user.log"
laravel=$(cat $where | grep 'production.ERROR' | sed 's/$/<br><br>/')
[[ ! -z "$laravel" ]] && body="${body}<h3>Log nos sistema em Laravel:</h3>${laravel}"

# Envio do Email - quando body não estã vazio
if [ ! -z "$body" ]
then

  d=$(date +%d/%m/%Y)
  assunto="Relatório de problemas na Infraestutura FFLCH - ${d}"
  body="<div>Prezados(as) Analistas, por favor solucionar erros críticos encontrados a partir do servidor de log:</div><br>${body}"
  mail="From: {{ tasks_msmtp_email }}\nMime-Version: 1.0\nContent-Type: text/html\nSubject: ${assunto}\n\n${body}"

  {%for email in tasks_msmtp_emails %}
    echo -e ${mail} | msmtp {{ email }}
  {% endfor %}

fi
