# Default settings that all others accounts inherit
defaults
auth   on
tls    on
tls_starttls   on
tls_trust_file /etc/ssl/certs/ca-certificates.crt

# default is off. When on, an envelope-from address of the form user@domain will be generated.
auto_from off

account  default
host     smtp.gmail.com
port     587
auth     on
from     {{ msmtp_email }}
user     {{ msmtp_email }}
password {{ msmtp_password }}

account default : default