#!/usr/bin/python3

import datetime
import os
import requests
import traceback

try:
    url = "{{ tasks_cups_quotas_endpoint }}/api/printings/"
    api_key = "{{ tasks_cups_quotas_api_token }}"
    headers = {'Authorization': api_key}

    status = os.getenv('TEASTATUS')
    jobid = os.getenv('TEAJOBID')
    printer = os.getenv('TEAPRINTERNAME')

    if status == "0":
        latest_status = "print_success"
    else:
        latest_status = "printer_problem"

    body = {"status": latest_status}

    requests.post(url + printer + '/' +  jobid, headers=headers, data=body)

except Exception:
    log = traceback.format_exc()
    file_object = open("/tmp/tea4cups.log", "a+")
    datetime = datetime.datetime.now()
    file_object.write("\n[{}]\n".format(datetime) + log)
    file_object.close()

