#!/bin/bash

# backup da versão anterior
#lpstat -p | cut -d" " -f2,3 | grep _hp_ > /tmp/impressoras.csv
#arquivo_csv="/tmp/impressoras.csv"

#while IFS=" " read -r impressora status; do
#  if [ "$status" != "está" ]; then
#    lpadmin -p "$impressora" -E
#  fi
#done < "$arquivo_csv"

# Nova implementação com log
impressoras=`lpstat -p | cut -d" " -f2,3 | grep _hp_ | grep -v "está" | cut -d" " -f1`
for impressora in $impressoras; do
   echo "$(date) $impressora" >> /tmp/impressoras.csv
   /usr/sbin/lpadmin -p "$impressora" -E
done
