#!/bin/bash

lpstat -p | cut -d" " -f2,3 > /tmp/impressoras.csv
arquivo_csv="/tmp/impressoras.csv"

while IFS=" " read -r impressora status; do
  if [[ "$status" != "está" && "$impressora" != "	Paused" ]]; then
    lpadmin -p "$impressora" -E
  fi
done < "$arquivo_csv"