#!/bin/bash

lpstat -p | cut -d" " -f2,3 | grep _hp_ > /tmp/impressoras.csv
arquivo_csv="/tmp/impressoras.csv"

while IFS=" " read -r impressora status; do
  if [ "$status" != "está" ]; then
    lpadmin -p "$impressora" -E
  fi
done < "$arquivo_csv"